/* CSS Document */
.loginform{ line-height:30px; color:#444444;}
.loginform a{ color:#0061B1; text-decoration:none;}
.loginform .msg{color:#F12D00;}
.logintext{ line-height:30px; color:#444444;}
.input{ border:1px solid #7F9DB9; height:19px; line-height:19px;}