/* CSS Document */

.main{ margin-top:20px; clear:both;}
.mleft{ width:225px; float:left;}
.reg_step{ background:url(../images/reg_step_middle.gif) repeat-y; width:222px; margin-left:2px;}
.reg_step dt{ height:30px;}
.reg_step dd{ background:url(../images/reg_step_bottom.gif) no-repeat bottom; padding:20px 0 20px 0;}
	.regstep1{ width:192px; height:102px; border:1px solid #FEE4B2; background:#F7F7F7; margin:0px auto;}
	.regstep1 p{ color:#FF7800; font-weight:bold; line-height:30px; font-size:14px; margin-top:20px;}
	
	.regstep2{ width:192px; height:102px; margin:0px auto;}
	.regstep2 p{ color:#717171; font-weight:bold; line-height:30px; font-size:14px; margin-top:20px;}

.mright{ width:720px; float:right;}
	.mright h3{ font-size:14px; color:#DC2C02; margin:0px; padding:0px; margin-bottom:6px;}
	.mright h3 span{ font-weight:normal;}
	
	.frmtable{ background:#E9E9E9; margin-bottom:12px;}
	.frmtable thead td{ background:#FFEAB3; height:30px; line-height:30px; color:#DC2C02; font-size:14px;}
	.frmtable tbody th{ background:#FFFCE8; width:150px;  color:#444444; font-weight:normal; font-size:14px; text-align:right;}
	.frmtable tbody td{ background:#FFFFFF; line-height:18px; color:#444444;}
	.frmtable tbody td .msg{ line-height:30px; color:#FF7800;}
	.input { width:175px; height:20px; border:1px solid #C4C4C4;}
	.input_short { height:20px; border:1px solid #C4C4C4;}
	.changgeimage{ color:#DC2C02; text-decoration:underline;}
	
	.proto{ width:650px; height:70px; overflow-y:scroll; padding:10px; margin:0px auto; border:1px solid #CCCCCC; color:#666666;}
	.accept{ height:40px; margin-top:20px; text-align:center;}
	.accept button{ height:28px; font-size:14px; line-height:26px;}
	.box{ border:1px solid #E1E1E1;}
	.done{ padding:30px;}
	.donetitle{ line-height:30px; font-size:14px; margin-bottom:10px;}
	.donecontet{ text-indent:24px; line-height:24px;}
	.donebtn{ text-align:center;}