body,div,p,dl,dt,dd,ul,li,form{ margin:0px; padding:0px;font-size: 12px;text-decoration: none;}

.clear{ clear:both;}

.wrap{ width:960px; margin:0px auto;}

.header{ height:110px; border-bottom:1px solid #E0E0E0;}
	.logo{ width:220px; float:left;}
	.tools{ width:720px; float:right;}
		.menu{ line-height:30px; height:30px; text-align:right; margin-top:10px; color:#001D71;}
			.menu a{ text-decoration:none; color:#001D71;}
		.btns{ text-align:right; line-height:30px; height:30px;}
			.btns img{ margin-left:4px;}
		.myinfo{ line-height:24px; text-align:right; color:#001D71;}
			.myinfo a{ text-decoration:none; color:#001D71;}
.main{ margin-top:20px; clear:both;}
.bottom{ border-top:2px solid #B0B0B0; text-align:center; line-height:24px; padding-top:5px; color:#333333; margin-top:10px;}
.bottom a{ color:#004FE0; text-decoration:none;}

.tips{ border:1px dashed  #ACD0F1; padding:6px 16px 6px 16px; color:#F96900; line-height:20px;}


.pop{ background:#CCCCCC;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5; position:absolute; width:100%; height:100%; left:0px; top:0px;}
.pop *{filter:alpha(opacity=100);-moz-opacity:1;opacity: 1; }
.pop .win{ width:710px; height:460px; padding:6px; position:relative; top:40px; margin:0px auto; background:#FFFFFF;}
.pop .win .title{ background:url(../images/line.gif) repeat-y left; height:30px; line-height:30px; text-indent:10px;_padding-top:6px;_height:24px;}
.pop .win .cont{ line-height:24px; padding:30px;}

/* MyCalendar */
.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: lemonchiffon;
    color: red;
    
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}
.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(WebResource.axd?d=x6lt9HfG5Si8NZjMNt1DLcY6US8hUl3G4muzIFtahMQFZTbwxJ00qsx5N8jeAW90ZvGxZ6SJJh48yx62JKItzQ2&t=633053122925312500);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(WebResource.axd?d=x6lt9HfG5Si8NZjMNt1DLcY6US8hUl3G4muzIFtahMQFZTbwxJ00qsx5N8jeAW90HZemRms4wXOo1BZWTwWtNQ2&t=633053122925312500);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar.ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar.ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar.ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar.ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar.ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar.ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar.ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar.ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar.ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar.ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar.ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar.ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar.ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar.ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar.ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar.ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}
