/* CSS Document */
a{ color:#004BA6;}
.red{color:#E32D03;font-style: normal; text-decoration:none;}
.header{ border:none;}
.main{ margin-top:10px;}
.paybox{padding:0px; width:964px; margin:0px auto;}
.paybox dt{ height:26px; width:964px; line-height:26px; font-weight:bold; font-size:14px;}
.paybox dd{ border:1px solid #E1E1E1; border-top:none; padding:20px; line-height:24px;}
.paybox dd ul{ width:800px; margin:0px auto; list-style:none; border:1px solid #ACD0F1; padding:4px;}
.paybox dd ul li{ text-align:left; border-bottom:1px solid #E1E1E1; line-height:30px; clear:both;}
.paybox dd ul li select,.paybox dd ul li input{_margin:6px;}
.paybox dd ul li.noboder{ border:none;}
.paybox dd ul li .lable{ display:block;width:120px; text-align:right; float:left;}
.paybox .un{ color:#FFFFFF;}
.paybox .done{ color:#F00000;}
.bluebox{ border:1px solid #AAD9FD; line-height:32px;}
.ptitle{ font-size:14px;}
.viewtd1{ background:#F5F5F5;}
.viewtd2{ border-bottom:1px solid #E8E8E8}
.viewtd-blue{ background:#D7ECFF; color:#004BA6;}
.service{ width:200px; float:right; line-height:18px;}
