/* CSS Document */
a{ color:#004BA6;}
.pos{ font-size:14px; color:#000000; text-indent:20px; line-height:32px;}
.box{ border:2px solid #FFB20D; line-height:24px; font-size:14px; text-align:left; padding:0px 20px;}
.svc{ display:block; width:510px; margin:20px auto;}
.svc a{
	display:block;
	width:147px;
	height:43px;
	line-height:43px;
	float:left;
	margin:5px;
	text-indent:30px;
	overflow:hidden;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	background-image: url(../images/svc_bg1.gif);
}
.svc a.focus{ background-image: url(../images/svc_bg.gif);color:#EC4E00;}
