/* CSS Document */
a{ color:#004BA6;}
.pos{ font-size:14px; color:#FF0000; text-indent:20px; line-height:32px;}
.box{ border:1px solid #E4E4E4; padding:30px; width:840px; margin:0px auto; clear:both;}

.service{ width:200px; float:left; line-height:18px;}
.bluebox{ border:1px solid #AAD9FD;}
.viewtd1{ background:#F5F5F5;}
.viewtd2{ border-bottom:1px solid #E8E8E8}
.viewtd-blue{ background:#D7ECFF; color:#004BA6;}
.cont{ margin-left:10px; float:left; line-height:24px;}
.txts1{ padding-left:10px;}
.